PORT=5001
GEMINI_API_KEY=AIzaSyBEYPtaw6Xk9V-miaw8jleaV_N32K2mSV0
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=parampreetsinghlall@gmail.com
EMAIL_PASS=agswtzieebbzkcte
FRONTEND_URL=http://localhost:5173
